@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<p>Just a little about me. I have a bachelors degree in Computer Science. I have a deep passion for solving puzzles which is what led me down the road of becoming a Software Engineer. Having a overwhelming desire to make sure the solution works in all possible scenarios is what makes me a good at Software Engineer. I love getting a problem and trying to figure out how to solve it and giving the best possible solution. Some of my hobbies include reading Science Fiction novels, Comic Books, playing board games, card games, and video games.</p>

<h4>Links</h4>
<hr>
<ul>
    <li>
        <a href="https://www.linkedin.com/in/fernandomontescs/">LinkedIn</a>
    </li>
    <li>
        <a href="https://github.com/SirFernanders">GitHub</a>
    </li>
</ul>